body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: auto;
}

input {
    width: 350px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
}

button {
    margin-top: 15px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:hover:not(.disabled) {
    background-color: #218838;
}
